.metrics {
  background-color: rgb(227, 231, 252);
  padding: 0 2rem;
  @include getNavbarStyles;
  span {
    font-weight: 700;
    color: rgb(109, 109, 109);
  }

  .grid-one {
    display:inline;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    height: 70%;
    .top__card {
      @include getCardStyles;
      position: center;

      .container_table{
        margin-top: 2%;
      }
    }
    @include getMonthlyFollowersStyles;
    margin-bottom: 1rem;
  }
}
